@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wengebrown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --brandy-red: hsl(14, 45%, 36%);
}

* {
    margin: 0;
}

img {
    height: 300px;
    width: auto;
    border-radius: 24px;
}

.image-container{
    text-align: center;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--eggshell);
    padding: 50px;
}
.recipe-body {
    display: inline-block;
    border-radius: 24px;
    padding: 40px;
    background-color: var(--white);
    

}

.recipe-text-body {
    width: 656px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.food-title-description {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 24px;
}

.preparation-time {
    background-color: var(--rose-white);
    border-radius: 12px;
    display: grid;
    text-align: left;
    padding: 28px;
    gap: 16px;
}



h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--dark-charcoal);
    font-family: 'Young-Serif';
}

h2 {
    color: var(--brandy-red);
    line-height: 100%;
    font-size: 28px;
    margin-bottom: 24px;
}

h3{
    font-family: 'Outfit';
    color: var(--dark-raspberry);
    font-size: 20px;
    line-height: 100%;

}

p {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 150%;
    color: var(--wengebrown);
    font-weight: 300;
}

.food-title-desciption p{
    font-family: 'Young Serif', serif;
}

.nutrition-container p{
    font-family: 'Outfit';
}

.bottom-padding-24 {
    padding-bottom: 24px;
}

.ingredients-list {
    font-size: 12px;
}

.preparation-time li {
    padding-left: 8px;
    font-size: 12px;
}

ul {
    padding-left: 24px;
}

ol {
    padding-left: 24px;
}

li {
    color: var(--brandy-red);
    font-family: 'Outfit';
    font-weight: bold;
    margin-top: 8px;
}

.list-wrapper {
    font-size: 16px;
    line-height: 150%;
    color: var(--wengebrown);
    margin-left: 16px;
    font-weight: 300;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.mini-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 1;
    padding-left: 32px;
    padding-right: 32px;
}

.nutrition-desc {
    color: var(--wengebrown);
    flex: 1;
    text-align: left;
}

.nutrition-info {
    color: var(--brandy-red);
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.attribution {
    padding-top: 15px;
}